/* Welcome and glad you are using Reverie.
 * This is the main stylesheet loaded by default.
 * Edit the file and have fun.
 * http://themefortress.com/reverie */

// import normalize, stay at top
@import "normalize";

// Global Foundation Settings
@import "settings";

// Comment out this import if you are customizing you imports below
@import "foundation";
@import "compass/css3";
/* Start to customize Reverie */

//MIXINS
@mixin darkside($bg,$per){
	background:darken($bg,$per);
	@include transition-property(background);
	@include transition-duration(0.2s);
}

//VARIABLES
$blueish:#061D35;

body.home{
	background: #fff;
}

// add some extra style to row to beautify custom background image
header.row,
.container.row,
.row.full-width {
	background-color: rgba(255,255,255,0.9);
}

// adjusting header
h4.subheader {
	margin-top: -1em;
}

// add new pagination class for WordPress, Sass is amazingly fast
.page-numbers { @include pagination; }

// customizing pagination for WordPress using Foundation mixins, this is not beautiful I know
.page-numbers li {
	span:hover a,
	span a:focus {
		background: $pagination-link-active-bg;
	}
	span.current {
		background: $pagination-link-current-background;
		padding: $pagination-link-pad;
		color: $pagination-link-current-font-color;
		font-weight: $pagination-link-current-font-weight;
		cursor: $pagination-link-current-cursor;
	}
}

// add some basic comment styles
ol.commentlist {
	margin-left: 0;
	margin-top: 2em;
	li {
		list-style: none;
		margin-bottom: 2em;
	}
		.comment-author img {
			border-radius: 50%;
			float: left;
			margin: 0 1em 0 0;
		}
		.author-meta {
			display: inline-block;
		}
			cite.fn {
				@extend h4;
				margin-right: 0.5em;
			}
		section.comment {
			@include panel(white, 20px);
		}
			a.comment-reply-link {
				float: right;
				position: relative;
				bottom: 1em;
			}
}

// add some extra margin to ul
ul {
	margin-#{$default-float}: $list-side-margin;
}

// add some margin for embeds in post
figure {
	margin-bottom: $paragraph-margin-bottom;
}

// adjust search button on top-bar
input.prefix.button {
	line-height: 1;
}

// adjust search button on sideba
#sidebar input.prefix.button {
	line-height: 0.7;
}

// Add Class for Images
img.alignright {
	float: right;
	margin: 0 0 18px 18px;
}
	
img.alignleft {
	float: left;
	margin: 0 18px 18px 0;
}

img.aligncenter {
	display: block;
	margin: 18px auto;
	}

// Add HTML5 Caption Class for Images
figure.figure {
	margin: 0 auto;
	display: inline-block;
	figcaption {
		padding: 8px 10px;
		color: gray;
		margin-bottom: $paragraph-margin-bottom;
	}
}

figure.alignright.figure {
	float: right;
	margin: 0 0 18px 18px;
}

figure.alignleft.figure {
	float: left;
	margin: 0 18px 18px 0;
}


.no-margin{
	margin: 0;
}

.whitetxt{
	color: #fff;
}

.graytxt{
	color: #909090;
}

.date{
	font-size: 13px;
}

.pd-10{
	padding:0 10px;
	h2{
		margin-bottom: 3px;
	}
	a{
		font-size: 13px;
	}
}

.internalbg{
	background:#E7E8DE;
}

//1. header
header.main{
	background: #E7E8DE url('../img/home.png') no-repeat scroll top center;
	width: 100%;
	height: 666px;
}

header.internal{
    position: relative;
    background: url('../img/bg-internal.png') no-repeat scroll top center;
    height: 152px; 
    .inner-title{
      position:relative;
	  float: right;
	  top: 80px;
	  font-weight: 200;
	  color: $blueish;
    }
  }

.top-bar-section > ul > .divider{
	border-right: solid 1px white;
	border-left: solid 1px white;
}


nav.top-bar{
	position: relative;
	top: 32px;
}
.top-bar-section ul li.active > a{
	background: #fff;
	color: darken(#061d36,30%);
}

.top-bar-section .dropdown{
	background: #6f6f6f;
	padding-top: 25px;
	&:after{
		content:' ';
		width: 0; 
		height: 0; 
		border-left: 15px solid transparent;
		border-right: 15px solid transparent;
		border-top: 15px solid #fff;
		text-align: center;
		position: absolute;
		left: 40%;
		top: 0;
	};
	li{
		a{
			font-size: .9em;
		}
	}
}

.lang{
	li{
		text-align: right;
		a{
			font-size: .75em;
			text-align: right;
			position: relative;
			top: 8px;
		}
	}
}

.main-text{
	position: relative;
	top: 170px;
	height: 414px;
}

a.button{
	background: #1c90a3;
	&:hover{
		background: darken(#1c90a3,10%);
	};
}

.arrow{
	margin-left: 35px;
	margin-top: 10px;
	&:before{
		display: inline-block;
		content: url('../img/arrow.png');
		background: #1c90a3;
		width: 30px;
		height: 34px;
		position: absolute;
		left: -32px;
		top: 0;
		padding-top: 3px;
	}
}

.banner{
	margin-bottom: 50px;
}

.it{
	display: block; 
	@include single-box-shadow;
	height: 492px;
	li{
		min-height: 246px;
		p{
			color: rgba(255,255,255,0.5);
			line-height: 1.4;
			font-size: 13px;
			margin-bottom: 10px;
		}
		img{
			height: 246px;
			width: 100%;
		}
		&.blue{
			background: #1D7E92;
			padding: 20px 30px;
			&:hover{
				@include darkside(#1D7E92,6%);
			}
		}
		&.orange{
			background: #DE6C0C;
			padding: 20px 30px;
			&:hover{
				@include darkside(#DE6C0C,6%);
			}
		}
		&.red{
			background: #DF3A2B;
			padding: 20px 30px;
			&:hover{
				@include darkside(#DF3A2B,6%);
			}
		}
		&.green{
			background: #219072;
			padding: 20px 30px;
			&:hover{
				@include darkside(#219072,6%);
			}
		}
	}
}

.connect{
	margin-bottom: 0;
	li{
		height: 60px;
		line-height: 60px;
		background: #C9C9C9;
		margin: 0;
		padding: 0 10px;
		width: 24.5%;
		text-align: center;
		font-size: 16px;
		a{
			span{
				width: 28px;
				height: 26px;
				display: inline-block;
				position: relative;
				top: 8px;
				margin-right: 5px;
				&.face{
					background: url('../img/facebook.png') no-repeat scroll top left;
				}
				&.twitter{
					background: url('../img/twitter.png') no-repeat scroll top left;
				}
				&.linkdn{
					background: url('../img/linkedn.png') no-repeat scroll top left;
				}
			}
		}
		&:first-child{
			margin-left: 20px;
		};
		&:hover{
			background: #b3b3b3;  
			position: relative;
			a{
				color: #fff;
			}
		}
		&.active{
			background: #5C5C5C;
			position: relative;
			a{
				color: #fff;
			}
			&:after{
				content:' ';
				height: 0;
				width: 0;
				border-top: 10px solid transparent;
				border-bottom: 10px solid transparent;
				border-left: 15px solid #5C5C5C;
				position: absolute;
				right: -10px;	
				top: 20px;
			}
		}
	}
}


//MAIN-CONTAINER

.main-container{
	background: #fff;
}

.thepadding{
	padding: 0 20px;
}

.contact{
	h6{
		margin: 30px 0 5px 0;
		strong{
			font-weight: normal;
			color: $blueish;
		}
	}
	ul{
		margin-left: -10px;
		li{
			font-size: 12px;
			span{
				background: url('../img/contacto.png') no-repeat scroll top center;
				width: 26px;
				height: 26px;
				display: inline-block;
				position: relative;
				top: 9px;
				&.mail{
					background-position: 0 0;
				}
				&.phone{
					background-position: 0 -30px;
				}
				&.skype{
					background-position: 0 -60px;
				}
			}
		}
	}
}

.mt-30{
	margin-top: 30px;
}

.blog-update{
	border-top: 1px solid #E6E6E6;
	padding: 30px 0;
	p{
		color: #474747;
	}
}
///MAIN-CONTAINER


footer{
	padding: 50px 0;
	ul{
		list-style-type: none;
		li{
			font-size: 90%;
		}
	}
}